#mycoursesadmin {
	margin: 0px 10px 20px;
}

#headline_main {
	font-weight: bold;
	font-size: 1.8em;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

#schoolhouse {
	float: left;
	margin: 0px 20px 20px 5px;
}

#addEntityForm {
	clear: left;
	margin-bottom: 40px;	
}

td {
	vertical-align: bottom;
}

.form {
	width: 100%
}