#mycourses {
	margin: 0px 10px 20px;
}

#headline_main {
	font-weight: bold;
	font-size: 1.8em;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

#schoolhouse {
	float: left;
	margin: 0px 20px 20px 5px;
}

.headline_entity {
	font-weight: bold;
	font-size: 1.5em;
	padding: 0px;
	margin: 20px 0px 0px;
	clear: left;
}

.courseName {
	position: relative;
	left: 15px;
	display: block;
	font-size: 1.4em;
	
}